@import '../../_colours'

.login
    margin: 80px auto
    padding: 20px
    display: flex
    width: 35%
    background-color: $colour-menu
    flex-direction: column
    .icons
        display: flex
        justify-content: space-around
        padding: 20px
