@import '../../_colours'

.profiles
    display: flex
    flex-direction: column
    .line
        display: flex
        justify-content: space-around
        .box
            margin: 10px
            width: 100%
            background-color: $colour-box-background
            border: 1px $colour-box-border solid
            display: flex
            flex-direction: column
            .header
                height: 30px
                display: flex
                justify-content: center
                align-items: center

.header

.body
