$colour-background: #000000
$colour-header: #424242
$colour-menu: #969696
$colour-menu-hover: #FFFFFF

$colour-secondary: #2374AB
$colour-light: #D6FFF6
$colour-highlight1: #4DCCBD
$colour-highlight2: #FF8484
